
.f_d-debug {
    border: 1px solid red;
}

:root {
	--color-hero: #1b72e8;
	--color-main: #f8f9fa;
	--color-nav: #142b40;
}

li {
    list-style-type: none;
}

nav {
    width: 200px;
    height: 100%;
    background-image: url(/img/sidebar-bg.png);
    background-color: var(--color-nav);
    padding-top: 50px;
}

#main {
    height: 100%;
    width: calc(100% - 200px);
    padding-top: 50px;
    background-color: var(--color-main);
}
/* header */

header {
    background-color: var(--color-main);
}

.logo, .menu  {
    width: 15%;
}

#first_logo {
    display: block;
    position: relative;
    animation-name: logo-move;
    animation-duration: 2s;
    animation-delay: 0s;
}

#mobile_logo {
    width: 20px;
    height: 20px;
    display: none;
}

.search {
    width: 70%;
}

#search-bar {
    background-color: lightgray;
}

header div a > .fa-solid {
    color: gray;
}

header div >ul {
    position: absolute;
    top: 30px;
    left: 105px;
    width: 150px;
    padding-top: 10px;
    height: 100px;
}

.menu_vertical {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border: 1px solid gray;
    display: none;
    background-color: lightgray;
    text-align: center;
    line-height: 40px;
}

.menu_slide:hover .menu_vertical {
    display: block;
}

.menu_slide ul li > a:hover {
    color: var(--color-hero);
    display: block;
}

header div a > .fa-solid:hover {
    color: #FFD43B;
}

/* nav-bar */

#nav-bar .pb-2:hover {
    background-color: rgba(201, 194, 194, 0.459);
}

/* main */

.nav-orizzontal {
    height: 200px;
    width: 100%;
    background-color: var(--color-hero);
}

.container-main-left {
    width: 60%;
    height: calc(100% - 100px);
}

.container-main-right {
    width: 40%;
    height: calc(100% - 100px);
}

#nav-orizzontal div button {
    background-color: rgba(61, 61, 112, 0.432);
    padding: 0 5px 0 5px;
    font-size: 14px;
}

#btn-sick {
    margin-top: 10px;
    width: 90px;
    height: 30px;
}

#main div button >.fa-plus{
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.f_d_padding {
    padding-bottom: 75px;

}

#offcanvasRight {
    width: 575px;
}

.ghost {
    display: none;
}

/* main-tab */

.img-tab {
    width: 30px;
    height: 30px;
}


.w-minor {
    padding-left: 10px;
    height: 50px;
}

.container-table {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.border-fran {
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

.border-fran-bottom {
    border-bottom: 1px solid lightgray;
}

.bg-fran {
    background-color: var(--color-main);
}

table tr {
    border-bottom: 1px solid lightgray;
}

table tr td > button {
    width: 70px;
}

.bord-none{
    border-bottom: none;
}


/* faq */



/* media query */
@media screen and (max-width: 1200px){

    header div >ul {
        left: -80px;
    }

    .container-main-left {
        width: 100%;
    }

    #container-father-left-right {
        flex-wrap: wrap;
    }

    #faq {
        margin-bottom: 50px;
    }

    .container-main-right {
        width: 100%;
    }

    #container-checkbox {
        margin-left: 0;
    }

}

@media screen and (max-width: 992px){
    /* header */

    header div >ul {
        left: -110px;
    }

    .container-main-left {
        width: 100%;
    }

    #container-father-left-right {
        flex-wrap: wrap;
    }

    #faq {
        margin-bottom: 50px;
    }

    .container-main-right {
        width: 100%;
    }

    #container-checkbox {
        margin-left: 0;
    }


}

@media screen and (max-width: 768px){

    /* header */

    #first_logo {
        display: none;
    }

    #mobile_logo {
        display: block;
    }

    .logo, .menu  {
        width: 10%;
    }

    header div > .logo {
        display: flex;
        justify-content: start;
        margin-bottom: 30px;
    }

    .search {
        width: 80%;
    }

    .fa-list, .fa-circle-question, .fa-ellipsis-vertical {
        display: none;
    }

    .fa-bell {
        margin-right: 30px;
    }

    header > div {
        background-color: white;
    }

    header div >ul {
        left: -180px;
    }

    #student-row, #new-student {
        padding-top: 50px;
    }

    #new-student {
        padding-bottom: 87px;
    }

    /* nav_bar */

    #nav-bar .pb-2 div:last-child {
        display: none;
    }

    nav {
        width: 60px;
    }

    #main {
        width: calc(100% - 60px);
    }

    #nav-bar .pb-2:hover {
        background-color: transparent;
    }

    #nav-bar .pb-2 a > i:hover {
        color: rgba(201, 194, 194, 0.459);
    }

    /* main */

    .disappear {
        display: none;
    }

    .ghost {
        display: block;
    }

    #container-father-left-right {
        flex-wrap: wrap;
    }

    #faq {
        margin-bottom: 50px;
    }

    .container-main-right {
        width: 100%;
    }
    


}

@media screen and (max-width: 576px){
    .search {
        padding: 0 10px 0 10px;
    }

    .nav-orizzontal {
        height: 300px;
    }

    header div >ul {
        left: -130px;
    }

    #nav-orizzontal {
        display: flex;
        flex-direction: column-reverse;
        height: 450px;
    }

    #buttons-row, #student-row, #new-student {
        width: 100%;
    }

    #student-row, #new-student {
        padding-left: 3rem;
    }

    #student-row {
        display: flex;
        flex-direction: row;
    }

    #buttons-row{
        padding-bottom: 20px;

    }

    .f_d_padding {
        padding-bottom: 35px;
    }

    .disappear {
        display: none;
    }

}



/* animations */

@keyframes logo-move {
    0%   {background-color: var(--color-main); left:0px; top:0px;}
    25%  {background-color:lightgray; left:200px; top:0px;}
    50%  {background-color: var(--color-hero); left:200px; top:200px;}
    75%  {background-color:var(--color-nav); left:0px; top:200px;}
    100% {background-color:transparent; left:0px; top:0px;}
  }